* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #F8F8F8;
}

#main {
    height: 100%;
    width: 100%;
    position: relative;
    padding-top: 0.1px;
}

#nav {
    height: 12vh;
    margin-top: 35px;
    width: 100%;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav h1 {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monument;
    font-size: 27px;
    letter-spacing: -1.4px;
    position: relative;
}
#nav h1::after{
    content: "©";
    font-family: gilroy;
    font-weight: 300;
    font-size: 16px;
    position: absolute;
    top: 24%;
    right: 17%;
}
#nav h1::before{
    content: "model managment";
    font-family: gilroy;
    font-weight: 200;
    font-size: 10px;
    position: absolute;
    letter-spacing: 0.1px;
    bottom: 20%;
    right: 22%;
}
#nav h2 {
    height: 100%;
    width: 20%;
    display: flex;
    font-size: 1.5vw;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    border-right: 2px solid #000;
}

#nav h2:nth-last-child(2) {
    width: 29%;
}

#nav h2:nth-last-child(1) {
    width: 10%;
}

#center {
    height: 95%;
    width: 100%;
    padding: 4.2vw;
    position: relative;
}

#content {
    height: 100%;
    width: 100%;
    position: relative;
}

#content video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#overlay {
    height: 45%;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 1.5vw;
    color: #fff;
}

#over1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1vw;
}

#over1 h1 {
    font-family: monument;
    font-size: 3.6vw;
}

#over1 h2 {
    font-size: 2vw;
    padding: 2.2vw 2.5vw;
    border-radius: 50%;
    border: 1px solid #fff;
}

#over2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #fff;
    padding: 0.5vw 0;
}

#over2 h4 {
    font-size: 1.3vw;
    font-weight: 600;
}

#over2 img {
    height: 4vw;
    margin-right: 0.5vw;
}

#scroll {
    height: 40vh;
    width: 100%;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}

#container {
    height: 100%;
    width: 100%;
    display: inline-block;
    padding: 1vw;
    animation-name: anime;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#scroll img {
    height: 90%;
    width: 15%;
    border-radius: 50%;
    object-fit: cover;
    object-position: 30% 30%;
    margin-right: 2vw;
}

#alphabet {
    height: 11vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

#alphabet h5 {
    font-size: 1.7vw;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    border-bottom: 2px solid #000;
    letter-spacing: 3px;
    margin-right: 2vw;
}

#alphabet h6 {
    font-size: 1vw;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 3px;
    padding: 0.4vw 0.6vw;
    border-radius: 50%;
    border: 1px solid #00000000;
    cursor: pointer;
    transition: all ease 0.2s;
}

#alphabet h6:hover {
    border: 1px solid #000;
}

#page2 {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 5vw 1vw;
}

#page2-part1 {
    height: 100%;
    width: 50%;
    background-image: url(https://images.unsplash.com/photo-1526510747491-58f928ec870f?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

#page2-part2 {
    height: 100%;
    width: 45%;
}

#page2-part2 img {
    height: 75%;
    width: 100%;
    object-fit: cover;
}

#text {
    display: flex;
    padding: 0.5vw 0;
    justify-content: space-between;
}

#text h5 {
    height: 100%;
    width: 48%;
    font-size: 1.6vw;
    font-weight: 400;
}

#text h6 {
    height: 100%;
    width: 40%;
    font-size: 1vw;
    font-weight: 300;
}

#label {
    margin: 0 5vw;
}

#label h1 {
    text-transform: uppercase;
    font-family: monument;
    font-size: 2.5vw;

}

#page3 {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 5vw 1vw;
}

#page3-part1 {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#circular-animaion {
    height: 70%;
    width: 100%;
}

#circle {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 100vmax;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8vw;
    margin-right: 2vw;
}

#arrow {
    position: absolute;
    width: 8vw;
    height: 8vw;
    background: url(./arrow_black.png);
    background-size: cover;
    border-radius: 100vmax;
    background-position: center;
}

#circle .text {
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: consolas;
    font-weight: 400;
    color: #000;
    font-size: 1vw;
    animation: textRotation 8s linear infinite;
}

.text span {
    position: absolute;
    left: 50%;
    font-size: 1em;
    transform-origin: 0 100px;
}

#bottom-text {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: end;
}

#bottom-text h3 {
    font-size: 1.8vw;
    font-weight: 500;
}

#page3-part2 {
    height: 100%;
    width: 60%;
    background-image: url(https://select-s3.agencypin.com/files/gallery/13381/expanded/gallery_model_tMwpd2NShfzr.jpg);
    background-size: cover;
    background-position: 100%;
}

#the-big-image {
    height: 100%;
    width: 100%;
    padding: 2vw 5vw 2vw;
    position: relative;
}

#the-big-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

#the-big-image h4 {
    position: absolute;
    right: 8%;
    top: 8%;
    font-weight: lighter;
    padding: 1vh 2vh;
    border-radius: 50%;
    border: 1.5px solid #000;
}

#page5 {
    height: 100%;
    width: 100%;
    position: relative;
    padding: 2vw 5vw 2vw;
}

#page5>h1 {
    text-align: center;
    font-family: monument;
    text-transform: uppercase;
    font-size: 3vw;
    font-weight: 900;
    margin-bottom: 7vh;
}

.elem {
    height: 17vh;
    width: 100%;
    border-top: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    position: relative;
}

.elem h4 {
    font-size: 1.3vw;
    text-transform: uppercase;
    width: 6%;
    font-weight: 500;
}

.elem img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    position: absolute;
    left: 12%;
    opacity: 0;
    transition: all ease 0.7s;
    object-fit: cover;
    object-position: top;
}

.elem:hover img {
    opacity: 1;
    left: 24%;
}

.elem:hover {
    background-color: #e6e6e6;
}

.elem:nth-last-child(1) {
    border-bottom: 2px solid #000;
}

.elem .elem-part2 {
    width: 45%;
}

.elem-part2 h1 {
    font-size: 2.6vw;
    font-weight: 500;
}

.elem-part2 h5 {
    font-size: 0.8vw;
    font-weight: 600;
    text-transform: uppercase;
}

#page6 {
    height: 100%;
    width: 100%;
    padding: 1vw 5vw 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page6 #left {
    height: 100%;
    width: 45%;
    background-image: url(https://res.cloudinary.com/select-models/image/fetch/w_2560,c_limit/w_1.0,c_fit,ar_3:4,f_auto,q_auto:best,dpr_2.0/https://select-s3.agencypin.com/files/gallery/16614/expanded/gallery_model_JIpWqhjf6E9r.jpg);
    background-size: cover;
    background-position: top;
}

#page6 #right {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#page6 #right h2 {
    font-family: monument;
    font-size: 2.5vw;
    padding: 0.7vw 0;
}

#page6 #right h5 {
    font-size: 1.7vw;
    font-weight: lighter;
    width: 70%;
    padding: 0.4vw 0;
}

#page6 #right p {
    width: 90%;
    padding: 1.6vw 0;
}

#page6 #right #description {
    height: 50%;
    width: 100%;
}

#page6 #right #images {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#images img {
    height: 100%;
    width: 54%;
    object-fit: cover;
    object-position: top;
}

#images img:nth-last-child(1) {
    width: 44%;
}

#page7 {
    height: 110%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 5vw 1vw;
}

#page7-part1 {
    height: 100%;
    width: 55%;
    background-image: url(https://onemanagement.com/assets/2019-12-04/75335IMAGE12ab98b18757b.jpg);
    background-size: cover;
    background-position: top;
}

#page7-part2 {
    height: 100%;
    width: 40%;
}

#page7-part2 img {
    height: 75%;
    width: 100%;
    object-fit: cover;
}

#page7-part2 #text h5 {
    width: 40%;
    font-weight: 400;
}

#page7-part2 #text p {
    width: 50%;
    font-weight: 500;
}
#marque {
    width: 100%;
    margin-top: 4vw;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0.8vw;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

#marque h1 {
    display: inline-block;
    font-size: 3vw;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 900;
    -webkit-text-stroke: 2px black;
    color: transparent;
    font-family: monument;
    margin-right: 16px;
    animation-name: marque-anime;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#blog{
    height:70%;
    width: 100%;
    display: flex;
    padding: 2vw 5vw 1vw;
    justify-content: space-between;
}
#blog h1{
    height: 100%;
    width: 20%;
    font-size: 2.5vw;
    font-family: monument;
    text-transform: uppercase;
}
#blog1{
    height: 100%;
    width: 38%;
}
#blog2{
    height: 100%;
    width: 38%;
}
#blog1 p,#blog2 p{
    height: 40%;
    width: 100%;
    font-weight: 500;
    font-size: 1.5vw;
}
#blog1 img,#blog2 img{
    height: 75%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}
#blog1 p::first-letter,#blog2 p::first-letter{
    padding: 0.4vw 0.8vw;
    font-size: 1vw;
    font-weight: 600;
    border: 1.5px solid #000;
    border-radius: 50%;
    margin-bottom: 2vw;
}
#footer {
    height: 40%;
    width: 100%;
    margin-top: 10vw;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    display: flex;
    align-items: start;
    justify-content: space-between;
}
#footer h1{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monument;
    font-size: 27px;
    letter-spacing: -1.4px;
    position: relative;
    padding: 2vw;
}
#footer h1::after{
    content: "©";
    font-family: gilroy;
    font-weight: 300;
    font-size: 16px;
    position: absolute;
    top: 24%;
    right: 17%;
}
#footer h1::before{
    content: "model managment";
    font-family: gilroy;
    font-weight: 200;
    font-size: 10px;
    position: absolute;
    letter-spacing: 0.1px;
    bottom: 26%;
    right: 22%;
}
#footer>h2{
    height: 100%;
    width: 20%;
    border-right:2px solid #000 ;
    padding: 2vw;
    font-size: 2vw;
    font-weight: 500;
}
#footer-sub{
    width: 40%;
    height: 100%;
}
#footer-sub h2{
    padding: 2vw;
    font-size: 2vw;
    font-weight: 500;
}
#footer-sub i{
    height: 2vw;
    width:2vw;
    margin-right: 1vw;
}
#footer-sub #footer-address{
    padding: 2vw;
    border-top: 2px solid #000; 
}
#footer-sub h3{
    margin-bottom: 1.5vw;
}
#space{
    height: 10%;
}
@keyframes textRotation {
    to {
        transform: rotate(360deg);
    }
}

@keyframes anime {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - 20px));
    }
}
@keyframes marque-anime{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}